nav{
    padding: 0 180px;
    height: 86px;
    font-size: 18px;
}
nav img{
    width: 133px;
    height: 31px;
}
nav .nav-items .nav-item, nav .nav-items h3{
    font-size: 18px;
}
nav .nav-items .nav-item span img{
    display: inline;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
nav .nav-items img{
    width: 26px;
    margin-left: 2 7px;
}
.header-text{
    margin-left: 180px;
    height: 178px;
    border-left: 14px solid var(--rectangles);
}
.header-text h2{
    font-size: 50px;
    font-weight: normal;
}
.header-text h1{
    font-size: 80px;
    font-weight: 900;
}
header section{
    height: 548px;
    width: 100%;
}
.body-first-text{
    position: relative;
    align-self: flex-end;
    width: 97%;
    margin-bottom: 100px;
    margin-left: 130px;
    font-size: 14px;
}
.body-students{
    margin-top: 20px;
    margin-bottom: 40px;
    position: absolute;
    right: 0;
    align-self: flex-end;
    height: 731px;
    width: 637px;
    background-image: url(../../assets/images/inicio/student.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.catalogo{
    position: absolute;
    right: 0;
    height: 431px;
    max-width: min-content;
    display: block;
}
.body-title{
    border-left:12px solid var(--rectangles);
    height: 65px;
    font-size: 40px;
}
.aniversario{
    padding-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.aniversario-logo img{
    width: 112px;
    margin-right: 40px;
}


.biblio-select{
    position: absolute;
    left: 80px;
    top: 60px;
}
.repo-select{
    position: absolute;
    left: 230px;
    top: 60px;
}
.trabajos-select{
    position: absolute;
    left: 390px;
    top: 60px;
}
.ul-select li a{
    justify-content: space-between;
    display: flex;
    align-items: center; 
    height: 43px;
    min-width: 198px;
    padding: 0 20px;
    font-size: 18px;
    text-decoration: none;
    color: #000000;
}
.ul-select li{
    display: flex;
    height: 43px;
    width: 198px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--menu);
    border-bottom: #C6AC7C 1px solid;
    display: none;
}
.trabajos-select li{
    width: 265px;
}
.trabajos-select li a{ 
    width: 265px;
}
.trabajos-select .largo{
    height: 65px;
}
.trabajos-select .largo a{
    height: 65px;
}