 @font-face {
    font-family: "Inter";
    src: url(../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
 }
 :root{
    --vino: #470300;
    --letras: #202020;
    --rectangles: #5D00A7;
    --rectangle-footer: #C98000;
    --red: #7C0900;
    --menu: #EFDDBC;
 }
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
}
li{
    list-style: none;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 46px;
    width: 100%;
    background-color: var(--vino);
    align-items: center;
    padding: 0 30px;
}
nav img{
    width: 79px;
    height: 19.3px;
}
nav .nav-items{
    position: relative;
    display: flex;
    align-items: center;
}
nav .nav-items img{
    width: 16px;
    margin-left: 10px;
    transition: .1s ease;
}
nav .nav-items .nav-item img:hover{
    cursor: pointer;
    transform: scale(1.8);
}
nav .nav-items h3{
    font-size: 12px;
    color: #FFFFFF;
}
nav .nav-items .nav-item{
    font-size: 12px;
    display: none;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 200;
}
header section{
    height: 229px;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(../../assets/images/repositorio/fondorepo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    color: #FFFFFF;
    border-left: 5px solid var(--rectangles);
    padding-left: 10px ;
    height: 53px;
    margin-left: 30px;
}
body{
    width: 100%;
}
.body-first-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    line-height: 20px;
    font-size: 12px;
}
.body-title{
    display: flex;
    align-items:center ;
    border-left:6px solid var(--rectangles);
    height: 50px;
    color: var(--vino);
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}
.libros{
    right: -30px;
    position: relative;
    align-self: flex-end;
    margin-bottom: 40px;
    height: 251px;
    max-width: min-content;
}
.body-first-text h5{
    font-weight: bold;
    font-size: 14px;
}
.body-first-text ul li{
    font-weight: bold;
    list-style: none   ;
}
.body-first-text ul li a i{
    font-weight: 400;
}
.social{
    width: 21px;
    height: 11px;
}
footer{
    width: 100%;
    background-color: var(--vino);
}
.aniversario{
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-info{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    padding: 30px;
}
.info{
    display: flex;
    flex-direction: column;
    line-height: 25px;
    font-size: 9px;
    color: #FFFFFF;
    font-weight: lighter;
    border-left: 4.75px solid var(--rectangle-footer);
    padding-left: 10px;
    height: min-content;
}
.semi-bold{
    font-weight: 400;
}
.footer-info .info .top{
    font-size: 14px;
    font-weight: bold;
}
.aniversario-logo{
    align-self: center;
}
.aniversario-logo img{
    width: 72px;
}
.end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 127px;
    background-color: var(--red);
    text-align: center;
    line-height: 30px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
}




.ul-select li:hover{
    background-color: #E9C485;
}
.ul-select .select span img{
    height: 11px;
    width: 11px;
}
#biblio,#repo,#trabajos{
    display: none;
}
#biblio:checked~.biblio-select li{
    display: flex;
}
#repo:checked~.repo-select li{
    display: flex;
}
#trabajos:checked~.trabajos-select li{
    display: flex;
}
.ul-select li{
    display: none;
}